<table>
    <tr>
        <td><a href="{{site.baseurl}}/navigation/world/centuries/13">13th</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/centuries/14">14th</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/centuries/15">15th</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/centuries/16">16th</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/centuries/17">17th</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/centuries/18">18th</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/centuries/19">19th</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/centuries/20">20th</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/centuries/21">21st</a></td>
    </tr>
</table>