<table>
    <tr>
        <td><a href="{{site.baseurl}}/navigation/world/changes/american">American Revolution</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/changes/latinamerican">Latin American Revolution</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/changes/haitian">Haitian Revolution</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/changes/french">French Revolution</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/changes/russian">Russian Revolution</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/changes/chinese">Chinese Revolution</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/changes/romanticperiod">Romantic Period</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/changes/enlightenment">Enlightenment</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/changes/industrial">Industrial Revolution, 1 + 2</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/changes/green">Green Revolution</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/changes/communication">Communication Revolution</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/changes/sexual">Sexual Revolution</a></td>

    </tr>
</table>