<table>
    <tr>
        <td><a href="{{site.baseurl}}/navigation/world/religion/buddhism">Buddhism</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/religion/daoism">Daoism</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/religion/confucianism">Confucianism</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/religion/christianity">Christianity + Catholicsm</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/religion/islam">Islam</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/religion/syncretism">Syncretism</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/ideology/communism">Communism</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/ideology/capitalism">Capitalism</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/ideology/socialism">Socialism</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/ideology/fascism">Fascism</a></td>
    </tr>
</table>