<table>
    <tr>
        <td><a href="{{site.baseurl}}/navigation/world/nations/china">China</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/nations/india">India</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/nations/russia">Russia + USSR</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/nations/usa">United States</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/nations/mexico">Mexico</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/nations/triplealliance">Triple Alliance</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/nations/inca">Incas</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/nations/byzantine">Byzantine Empire</a></td>
        <td><a href="{{site.baseurl}}/navigation/world/nations/ottoman">Ottoman Empire</a></td>
    </tr>
</table>